.img {
    height: 3vh;
    position: absolute;
    left: 0; 
}

.navbar {
    padding: 2rem;
}

.navbar-nav {
    position: absolute;
    right: 0;;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
}

.navbar-toggler {
    position: absolute;
    right: 10px;
}

body {
    background-image: url("https://images.unsplash.com/photo-1556741495-4a9f3c6935e8?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    margin-top: 3em;
    height: 200%;
    background-image: url("https://images.unsplash.com/photo-1508135583552-3a0882cbd2e6?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
}

.contact-jumbo {
    width: 50%;
}

.card-title {
    padding: 0.5rem;
    margin-bottom: 0rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-style: inherit;
}

.card-img-top {
    margin-top: 0rem;
}

.code-img {
    height: 11.5rem;
}

.small-card-img {
    height: 14rem;
}

.weather-img {
    padding: 0.75rem;
}

.dayplanner-img {
    padding: 0.75rem;
}

.card-text {
    font-family: 'Poppins', sans-serif;
}

.col-lg-9 .card {
    width: 30rem;
}

h1 {
    text-align: center;
}