.img {
    height: 5vh;
    position: absolute;
    left: 0; 
}

.img2 {
    margin-top: 3rem;
    margin-left: 3rem;
    box-shadow: 1px 1px 8px 5px;
}

.navbar {
    padding: 2rem;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 15px;
    padding: 2rem;
}

.nav-item {
    width: 100px;
    float: right;
} 

.navbar-collapse {
    justify-content: flex-end;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    padding-right: 1 rem;
    padding-top: 1 rem;
}

.navbar-toggler {
    position: absolute;
    right: 10px;
}

/* .contact-link {
    width: 120px;
} */

.home-link {
    width: 80px;
}

body {
    background-image: url("https://images.unsplash.com/photo-1556741495-4a9f3c6935e8?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    margin-top: 3em;
    background-image: url("https://images.unsplash.com/photo-1508135583552-3a0882cbd2e6?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    box-shadow: 2px 2px 8px 2px;
}

.contact-jumbo {
    width: 70%;
}

.card-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    justify-content: center;
}

.card {
    margin-bottom: 0.5rem;
    border-radius: 1%;
    border: solid black;
    border-width: 2px;
    box-shadow: 1px 1px 10px 1px;
}

.card-title {
    padding: 0.5rem;
    margin-bottom: 0rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-style: inherit;
}

.card-img-top {
    margin-top: 0rem;
    box-shadow: 1px 1px 8px 1px;
}

.code-img {
    height: 11.5rem;
}

.small-card-img {
    height: 14rem;
}

.weather-img {
    padding: 0.75rem;
}

.dayplanner-img {
    padding: 0.75rem;
}

.card-text {
    font-family: 'Poppins', sans-serif;
}

.col-lg-9 .card {
    width: 30rem;
}

h1 {
    text-align: center;
}

hr {
    border: solid 0.5px black;
}

.about {
    font-weight: bold;
    color: black;
    font-size: large;
}

.about-title {
    font-weight: bold;
}

@media only screen and (max-width: 991px) {
    .card-group {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .img2 {
        margin-left: 0;
        margin-top: 1rem;
    }
} 

@media only screen and (max-width: 767px) {
    .card-group {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .img {
        height: 3vh;
    }

    .img2 {
        margin-left: 0;
        margin-top: 1rem;
    }
} 

@media only screen and (min-width: 1200px) {
    .card-group {
        grid-gap: 50px;
    }
}